.absence {
	padding: 6px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	// flex-wrap: wrap;
	text-align: center;
	width: 100%;
	// position: relative;
	margin-top: 5px;
	transition: all 0.5s ease;

	&:hover {
		background: linear-gradient(225deg, rgba(245, 217, 155, 0.521) 60%, rgba(250, 167, 146, 0.486));
	}

	&__items {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		// flex-wrap: wrap;
		text-align: center;
		width: 86%;
		font-size: 1.3rem;
		
		div {
			flex: 0 0 25%;
			padding: 0 2px;

			::first-letter {
				text-transform: uppercase;
			}
		}
		
	}

	&__type {
		word-break: break-all;
	}

	&__actions {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
		width: 14%;
		
		
		.edit {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			// margin-right: 20px;
			cursor: pointer;
			background-color: $color-6;
			display: flex;
			justify-content: center;
			right: 10px;
			position: relative;
			align-items: center;
			
			img {
				width: 24px;
				height: 24px;
			}
		}
		.delete {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			right: 3px;
			position: relative;
			// margin-right: 20px;
			cursor: pointer;
			background-color: #f88f8d63;
			display: flex;
			justify-content: center;
			align-items: center;
			
			img {
				width: 24px;
				height: 24px;
			}
		}
	}

	&__update {
		display: flex;
		flex-direction: column;
		// align-items: center;
		// background: linear-gradient(225deg, rgba(252, 164, 142, 0.966), rgb(250, 227, 177) 60%);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.6s ease;
		border-radius: 10px;
		width: 300px;
		padding: 20px;
		font-size: 1.6rem;
		text-align: left;
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.356);
		// position: relative;

		h2 {
			font-size: 2rem;
			width: fit-content;
			position: relative;
			top: -10px;
			align-self: center;
		}

		label {
			font-weight: 600;
		}
		
		input {
			width: 100%;
			padding: 2px;
			border-radius: 4px;
			margin-bottom: 8px;
			margin-top: 2px;
			font-size: 1.4rem;
		}

		button {
			margin-top: 15px;
			padding: 5px;
			border-radius: 4px;
			cursor: pointer;
			background-color: #fff;
			transition: all 0.6s ease;
			font-size: 1.5rem;
			width: fit-content;
			align-self: center;
			
			&:hover {
				box-shadow: 0px 0px 10px rgba(255, 255, 255);
			}
		}
	}
	
	&__delete {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.6s ease;
		// background: linear-gradient(225deg, rgba(252, 164, 142, 0.966), rgb(250, 227, 177) 60%);
		padding: 20px;
		width: 230px;
		border-radius: 10px;
		font-size: 1.6rem;
		// border: 3px solid white;
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.356);

		button {
			margin-top: 15px;
			padding: 5px;
			border-radius: 4px;
			background-color: #fff;
			cursor: pointer;
			transition: all 0.6s ease;
			
			&:hover {
				box-shadow: 0px 0px 10px rgba(255, 255, 255);
			}
		}
	}
	
	// .visible {
	// 	animation: visible 0.8s ease forwards
	// }
	
	// @keyframes visible {
	// 	0% {
	// 		z-index: -1;
	// 		opacity: 0;
	// 	}
	// 	100% {
	// 		z-index: 100;
	// 		opacity: 1;
	// 	}
	// }
}