h1 {
	margin-top: 10px;
}
.absences {
	// margin: 20px;
	background: linear-gradient(45deg, $color-1, $color-2);
	width: 90%;
	max-width: 1100px;
	// height: fit-content;
	// min-height: 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	padding: 8px;
	margin-top: 40px;
	position: relative;

	::after {

	}

	&__title {
		display: flex;
		flex-direction: row;
		width: 86%;
		text-align: center;
		font-size: 1.9rem;
		padding: 6px;
		margin-top: 10px;
		margin-bottom: 10px;
		// border-bottom: 1px solid black;
		
		p {
			flex: 0 0 25%;
			
			span {
				cursor: pointer;
				position: relative;
				margin-right: 5px;
				// border-bottom: 2px dotted black;
				// border-bottom-left-radius: 20px;
				filter: drop-shadow(0px 0px 1px $color-2);

				.arrow {
					position: absolute;
					right: -20px;
					top: 4px;
				}
			}
		}
	}
	
	&-container {
		width: 100%;
		min-height: 30px;
		background-color: #fff;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		padding-bottom: 10px;
	}

	#addAbsence {
		position: absolute;
		right: 18px;
		top: 22px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 255, 34, 0.349);
		font-size: 3rem;
		font-weight: bolder;
		cursor: pointer;
		
		em {
			color: rgb(7, 204, 39);
			margin-top: -2px;
			font-style: normal;
		}
	}

	&__add-modale {
		width: 300px;
		// height: 250px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: linear-gradient(225deg, rgba(252, 164, 142, 0.966), rgb(250, 227, 177) 60%);
		display: flex;
		flex-direction: column;
		padding: 20px;
		border-radius: 10px;
		font-size: 1.6rem;
		z-index: 100;

		input {
			width: 100%;
			padding: 2px;
			border-radius: 4px;
			margin-bottom: 8px;
			margin-top: 2px;
			font-size: 1.4rem;
		}

		button {
			margin-top: 15px;
			padding: 5px;
			border-radius: 4px;
			background-color: #fff;
			cursor: pointer;
		}

		#interrogation {
			margin-left: 10px;
			border-radius: 5px;
			position: absolute;
			right: 24px;
			cursor: pointer;
		}
	}
	.visible {
		animation: visible 0.8s ease forwards
	}
	
	@keyframes visible {
		0% {
			z-index: -1;
			opacity: 0;
		}
		100% {
			z-index: 100;
			opacity: 1;
		}
	}
}